# Introduction
This notebook aims to analyze dataset of video games with sales greater than 100,000 copies across 4 different regions (North America, Europe, Japan, and other regions) as well as the global sales.

# Sturcture 
* Importing Libraries
* Loading the data
* Exploring data
    * Observations
    * Actions
    * Visual Exploration
* Data Analysis
    * Calculate sales for each genre
    * Calculating highest sales for each publisher over the course of the years
    * Calculating each region percentage of global genre sales

# Importing libraries

In [1]:
# Statistical analysis libraries
import numpy as np 
import pandas as pd 

# Data visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

# Loading data

In [2]:
# Identifying file path
file_path = 'vgsales.csv'
# Importing data into DataFrame
vgsales_data = pd.read_csv(file_path, index_col=0)

# Exploring data

In [3]:
vgsales_data.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
vgsales_data.info()

In [ ]:
vgsales_data.shape

In [ ]:
# Counting the number of rows where there are null values in year column
vgsales_data['Name'].loc[vgsales_data.Year.isnull()].count()

In [ ]:
# Counting the number of rows where there are null values in publisher column
vgsales_data['Name'].loc[vgsales_data.Publisher.isnull()].count()

### Observations
* Through reviewing the columns, the following are the columns that have null values 'year, publisher'.
* Year type is float.

### Actions
* Due to the low number of null values within the two columns of Year (271) and Publisher (58), We decided to drop the rows that include null values.
* Change Year type to object.

In [ ]:
# Dropping rows of Null values in the entire dataset
vgsales_data.dropna(inplace=True)

In [ ]:
# Changing Year type from float to object
vgsales_data['Year'] = vgsales_data['Year'].astype(str)
vgsales_data['Year'] = vgsales_data['Year'].str.split('.').str[0]
vgsales_data = vgsales_data.sort_values('Year', ascending=False)

### Visual Exploration

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=2,figsize=(18,20))
fig.suptitle('Region sales per year');
sns.barplot(y= vgsales_data['Year'], x=vgsales_data['EU_Sales'], estimator=sum, ci=None, ax=axes[0,0], color='Blue').set_title('EU_Sales');
sns.barplot(y= vgsales_data['Year'], x=vgsales_data['NA_Sales'], estimator=sum, ci=None, ax=axes[0,1], color='Blue').set_title('NA_Sales');
sns.barplot(y= vgsales_data['Year'], x=vgsales_data['JP_Sales'], estimator=sum, ci=None, ax=axes[1,0], color='Blue').set_title('JP_Sales');
sns.barplot(y= vgsales_data['Year'], x=vgsales_data['Other_Sales'], estimator=sum, ci=None, ax=axes[1,1], color='Blue').set_title('Other_Sales');

In [ ]:
# reviewing the Global Sales per each year
plt.figure(figsize=(12,10))
plt.grid()
sns.barplot(y= vgsales_data['Year'], x=vgsales_data['Global_Sales'], estimator=sum, ci=None, color='Blue').set_title('Global Sales per Year');

# Data Analysis

### Calculate sales for each genre

In [ ]:
# Counting the number of unique genres
vgsales_data.Genre.nunique()

In [ ]:
Genre_NA = vgsales_data.groupby('Genre').NA_Sales.sum().sort_values(ascending=True)
Genre_EU = vgsales_data.groupby('Genre').EU_Sales.sum().sort_values(ascending=True)
Genre_JP = vgsales_data.groupby('Genre').JP_Sales.sum().sort_values(ascending=True)
Genre_other = vgsales_data.groupby('Genre').Other_Sales.sum().sort_values(ascending=True)

In [ ]:
# plotting sales of different region versus each Genre
fig, axes = plt.subplots(nrows=2, ncols=2,figsize=(15,15))
Genre_NA.plot(kind='barh',ax=axes[0,0],xlabel='',title="Sales of NA by Genre");
Genre_EU.plot(kind='barh',ax=axes[0,1],xlabel='',title="Sales of EU by Genre");
Genre_JP.plot(kind='barh',ax=axes[1,0],xlabel='',title="Sales of JP by Genre");
Genre_other.plot(kind='barh',ax=axes[1,1],xlabel='',title="Sales of Other by Genre");

### Insight
* Although the genre responsible for the highest sales in all regions is Action, Japan's highest sales genre is Role-Playing.

### Calculating highest sales for each publisher over the course of the years

In [ ]:
vgsales_data.Platform.nunique()

In [ ]:
vgsales_data.Publisher.nunique()

In [ ]:
# subdataframe for year,publisher & global_sales
publisher_df = vgsales_data[['Year','Publisher','Global_Sales']]

# grouping the subdataframe based on year and publisher to obtain global sales total values for each publisher per year
df_1 = publisher_df.groupby(['Year','Publisher'],as_index=False)['Global_Sales'].sum()
df_1

In [ ]:
fig = px.scatter(df_1,x='Year',y='Global_Sales',title='Publisher Global Sales over Years',color='Publisher',width=1100, height=500)
fig.show()

### Insight
The previous plot show that "Nintendo" has the highest five global total sales and the values are as follows:
* in year 2006 global sales reached 205.61 million
* in year 2009 global sales reached 128.89 million
* in year 2005 global sales reached 127.47 million
* in year 2007 global sales reached 104.18 million
* in year 2008 global sales reached 91.22 million

### Calculating each region percentage of global genre sales

In [ ]:
Percent_df = vgsales_data.groupby('Genre')['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales'].sum()
Percent_df

In [ ]:
# plotting a pie chart for each genre showing the percentage of each region sales from the global sales
fig, axs = plt.subplots(4,3,figsize=(20,20))
fig.suptitle('contribution of regions from global sales in each Genre');
percent_genre = {}
for i,row in Percent_df.iterrows():
    x = [row.NA_Sales/row.Global_Sales,
        row.EU_Sales/row.Global_Sales,
        row.JP_Sales/row.Global_Sales,
        row.Other_Sales/row.Global_Sales]
    percent_genre.update({i:x})
mylabels = ["NA_sales", "EU_sales", "JP_sales", "Other_sales"]
for x,ax in zip(percent_genre.items(), axs.flatten()):
    ax.pie(x=x[1],labels=mylabels,autopct='%1.1f%%',)
    ax.set_title(x[0])

### Insight
* the previous pie charts show that in the whole genres of video games sales, NA contributes with the highest percentage over the entire period, and the second highest sales varies between EU & JP